<h2>Estadisticas de doctores</h2>

<p>Número de doctores: <%= @doctors_only.size %></p>
<p>Número de adminis: <%= @doctors_admin.size %></p>
<p>Mayor numero de visitas de un solo doctor: <%= @mayor %> </p>
<p>Mayor número de visitas de un mismo paciente: <%= @frecuent %> </p>