<h1>Hola!</h1>
<!--Si existe current_user, ponle el email! de lo contrario, ponle desconocido!-->
<!--el método present se escribe así: present?, y los métodos terneatios son con ?-->
<p><%= @name %></p>




